@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .main-img{
        max-width: 400px;
    }
    .main-text{
        margin-top: 50px;
        text-align: center;
    }
    .img-box{
        min-width: 100%;
    }
    .txt{
        min-width: 100%;
    }
    .reasons_p{
        flex-direction: column;
    }
    .testimonial-container{
        width: 90%;
    }
}
